.product {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid lightgray;
    padding: 5px 20px 30px 20px;
}

.product .product-image {
    margin-right: 30px;
}

.product button {
    background-color: #F0C14B;
    border: 1px solid black;
    padding: 5px 50px;
    border-radius: 5px;
    cursor: pointer;
}

.product .blue-text {
    color: blue;
}

.product .star-icon {
    color: orange;
}