.header {
    text-align: center;
}

.header img {
    width: 22%;
}

.header nav {
    background-color: black;
    padding: 10px;
    margin-top: 20px;
}

.header nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    margin-right: 10px;
}

.header nav a:hover {
    background-color: lightgray;
}

