.header {
    text-align: center;
}

.header img {
    width: 22%;
}

.header nav {
    background-color: black;
    padding: 10px;
    margin-top: 20px;
}

.header nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    margin-right: 10px;
}

.header nav a:hover {
    background-color: lightgray;
}

.header .search-container {
    background-color: #222222;
    padding: 20px;
}

.header .search-container input {
    padding: 10px;
    width: 50%;
    font-size: 16px;
}

.header .search-container .cart-icon {
    color: white;
    font-size: 20px;
    margin-left: 10px;
}

.header .search-container span {
    color: orange;
    font-size: 20px;
    margin-left: 5px;
}